

.barchartgrouped{
  height: 50%;
  width: 50%;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.piechart {
  height: 50%;
  width: 50%;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.linechart {
  height: 50%;
  width: 50%;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}


.bubblechart {
  height: 50%;
  width: 50%;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.linechart2{
  height: 50%;
  width: 50%;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
